@import url('https://fonts.googleapis.com/css?family=Quantico:700');

.quantico {
  font-family: 'Quantico', sans-serif;
}

#JSLogo,
#PythonLogo {
  transition: transform 1s;
}

#JSLogo:hover,
#PythonLogo:hover {
  transform: scale(1.1);
}
