body {
  background: #29323c;
  height: 100%;
  background-attachment: fixed;
}

#root {
  height: 100%;
}

a {
  font-size: 25px;
}

@media (max-width: 650px) {
.mobilecolumn {
    flex-direction: column;
    align-items: center;
  }
}

html {
  height: 100vh;
}